textarea {
  width: 100%;
}

.review-modal {
  width: 600px;
}

.reviews-wrapper {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.review-title {
  color: gray;
}

.book-wrapper {
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.add-review-button {
  margin-top: 16px;
}
